<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center>
          <p><img src="/imgs/me.jpg" style="border-radius: 50%;"/></p>
          <h1>Alexey Grigorev</h1>
          <p class="non-printable">A personal page</p>
        </center>
        <p>&nbsp;</p>
        <p class="non-printable">Nagivation:<br/>
          - <a href='/'>Main Page</a><br/>
          - <a href='/cv'>My CV</a><br/>
        </p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer class="non-printable">
        <p><small>Hosted on <a href="https://github.com/alexeygrigorev/alexeygrigorev.github.io">GitHub Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-68374732-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
