<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="author" content="{{ site.author }}">
  
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:type" content="website">
  
  <meta name="twitter:card" content="summary_large_image">
  
  <link rel="icon" href="{{ '/public/favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="light">
  {% include header.html %}
  
  <main class="container">
    <div class="main-content">
      {% include sidebar.html %}
      <div class="content-area">
        {% include tabs.html %}

        <div id="{{ page.tab_id }}" class="tab-content">
          {{ content }}
        </div>
      </div>
    </div>
  </main>
  
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/tabs.js' | relative_url }}"></script>
</body>
</html>
